body{
    background-image: url(https://jonathandekker.github.io/stonkywonky.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #583369;
}
h1{
  color: #583369;
}
li{
  background-color: white;
  color: #583369
  list-style-type: none;
  border: 2px solid grey;
  margin-left: 10px;
  padding: 20px;
  border-radius: 50px;
}
ul{
  display: flex;
}
